.link {
    font-size: 25px;
    color: rgb(231, 231, 178);
    text-decoration: none;
    text-align:center;
    justify-content: center;
    margin: 20px 280px 10px 280px;
}

.quadro-links {
    background-color: rgb(60, 73, 30);
    width: 300px;
    padding: 200px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    margin: 20px 280px 10px 280px;
}

body{
    background-color: rgb(60, 73, 30);
}