* {
    box-sizing: border-box;
}
.home-icon {
     width: 25px;
     
}
.link-1 {
    display: flex;
    font-size: 128%;
    justify-content:center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: rgb(247, 255, 228);
    text-decoration: none;
    padding: 5%;
}
.text-p {
    display: flex;
    font-size: 150%;
    justify-content:center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:center;
    align-content: center;
    row-gap: 20px;
    column-gap: 20px;
    background-color: rgb(60, 73, 30);
    padding: 1% 1%;
    border-radius: 20%;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: inherit;
    align-content: center;
    row-gap: 2%;
    column-gap: 2%;
}
body {
    background-color: rgb(247, 255, 228);
}

@media screen and (max-width: 1280px){
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap:inherit;
        align-content: center;
        row-gap: 20px;
        column-gap: 20px;
        background-color: rgb(60, 73, 30);
        padding: 5% 5%;
        border-radius: 20%;
        margin: 5%;
    }
        .contaner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: inherit;
        align-content: center;
        row-gap: 2%;
        column-gap: 2%;
        }
        .lnk-1 {
        display: flex;
        font-size: 128%;
        justify-content:center;
        justify-items: center;
        align-items: center;
        color: rgb(247, 255, 228);
        text-decoration: none;
        }
}
@media screen and (max-width: 280px){
    .home-icon {
        max-width: 20px;
    }
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        flex-wrap:inherit;
        align-content: center;
        row-gap: 20px;
        column-gap: 20px;
        background-color: rgb(60, 73, 30);
        padding: 15% 12%;
        border-radius: 20%;
        margin: 5%;
    }
        .contaner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: inherit;
        align-content: center;
        row-gap: 2%;
        column-gap: 2%;
        }
        .lnk-1 {
        display: flex;
        font-size: 128%;
        justify-content:center;
        justify-items: center;
        align-items: center;
        color: rgb(247, 255, 228);
        text-decoration: none;
        }
}